.dropzone {
	width: 800px;
	height: 500px;
	border: 2px dashed #ccc;
	color: #ccc;
	padding: 200px;
}

.dropzone.dragover {
	border-color: #000;
	color: #000;
}

.dropzone_text {
	color: #ccc;
	vertical-align: center;
}

.image_box {
	align: center;
}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position:absolute;
	top:50%;
	left:50%;
	width:200px;  /* adjust as per your needs */
	height:200px;   /* adjust as per your needs */
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;

}



