{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="about" class="about-section bg-light">
    <div class="container video-cont">
        <div>
            <h1 class="align-items-center text-center">MISSION</h1>
            <h2 class="align-items-center text-center">&nbsp;</h2>
              <div class="featured-text text-center text-lg-left">
                <p class="text-black-80">
                    Large online retailers ship millions of packages each day, and often these products are shipped in
                    packaging that is
                    both wasteful and harmful. The packaging is often excessive and containing nonbiodegradable
                    materials such as plastic.
                    The environment pays the price, our oceans, air quality, and environment are all impacted. The aim
                    of this project is to
                    draw attention to these practices. We created a system, which uses images to automatically detect
                    oversized shipping
                    boxes and harmful materials. Our method uses computer vision techniques to analyze the images and
                    calculate a packaging
                    grade. With the results our algorithm returned we could present the companies who used the most
                    efficient packaging,
                    informing people who the most efficient packagers are. Hopefully, this can lead to packaging
                    practices being changed for
                    the better.<br /><br />
                    Pointless packaging is a project developed by engineering students at UC Davis. We chose this
                    project to explore some of
                    the interesting subjects of computer science such as computer vision and machine learning, while
                    also having a positive
                    impact.
                </p>
            </div>
        </div>
            <h2 class="align-items-center text-center">&nbsp;</h2>
            <div>
            <h1 class="align-items-center text-center">Senior Design Showcase</h1>
            <h2 class="align-items-center text-center">&nbsp;</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/IA9O9YUbQew?controls=0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>


        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h1 class="align-items-center text-center">OUR TEAM</h1>
        <h2 class="align-items-center text-center">&nbsp;</h2>

        <div class="featured-text text-center text-lg-left">
            <p class="text-black-80">
                Pointless Packaging is a project developed by senior UC Davis computer
                science and engineering students. Our goal was to demonstrate the
                engineering skills we have harnessed over the past several years
                and use them for a good cause. This project is open source and anyone who would like to contribute
                can find the code on our <a target="_blank" href=https://github.com/kennylee9672/ECS193A>Github</a>.
                <br />
            </p>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters py-3">
            <div class="col-lg-6 order-lg-first px-3">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white py-2">Yoosuf Shafi</h4>
                            <p class="mb-0 text-white">
                               <a class="about-link px-2" target="_blank" href="https://github.com/ShafiTek">
                                 <i class="fab fa-github fa-2x"></i>
                               </a>
                               <a class="about-link px-2" target="_blank" href="https://www.linkedin.com/in/shafitek/">
                                 <i class="fab fa-linkedin fa-2x"></i>
                               </a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 px-3">
                <div class="bg-black-rev text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white py-2">Kenny Li</h4>
                            <p class="mb-0 text-white">
                              <a class="about-link px-2" target="_blank" href="https://github.com/kennylee9672">
                                <i class="fab fa-github fa-2x"></i>
                              </a>
                              <a class="about-link px-2" target="_blank" href="https://www.linkedin.com/in/liyin-li-kenny-9b0194152/">
                                <i class="fab fa-linkedin fa-2x"></i>
                              </a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters py-3">
            <div class="col-lg-6 px-3">
                <div class="bg-black-rev text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left"">
                            <h4 class="text-white py-2">Filip Stamenkovic</h4>
                            <p class="mb-0 text-white">
                                <a class="about-link px-2" target="_blank" href="https://github.com/fstamenkovic">
                                  <i class="fab fa-github fa-2x"></i>
                                </a>
                                <a class="about-link px-2" target="_blank" href="https://www.linkedin.com/in/fstamenk/">
                                  <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 ml-0" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 order-lg-first px-3">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Ryland Sepic</h4>
                            <p class="mb-0 text-white py-2">
                              <a class="about-link px-2" target="_blank" href="https://github.com/rmsepic">
                                  <i class="fab fa-github fa-2x"></i>
                              </a>

                              <a class="about-link px-2" target="_blank" href="https://www.linkedin.com/in/ryland-sepic/">
                                 <i class="fab fa-linkedin fa-2x"></i>
                              </a>
                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h2 class="align-items-center text-center">&nbsp;</h2>
        <h1 class="align-items-center text-center">ACKNOWLEDGEMENTS</h1>
        <h2 class="align-items-center text-center">&nbsp;</h2>

        <div class="featured-text text-center text-lg-left">
            <p class="text-black-80">
                Speical thanks to our client <a>Eric Law</a>
                who approached us with this idea in January of 2020 and has stuck
                with us along the way.
                We would also like to say thank you to our
                professor <a href="https://web.cs.ucdavis.edu/~liu/" target="_blank">Xin Liu</a> and our fantastic TA
                <a href="https://www.linkedin.com/in/albararamli/" target="_blank">Albara Ramli</a>,
                who continued to support and offer us feedback over the last 6 months.
                <br />
            </p>
        </div>


    </div>
</section>

{% endblock content %}
