{% load static %}
<!-- DJANGO BASE TEMPLATE STARTS HERE -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="{{ title }} - PointlessPackaging" />
      <meta property="og:description"   content="Eliminate pointless packaging using computer vision. Help end the poor packaging practices of companies, save the environment!" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="{{ title }} - PointlessPackaging" />
      <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:description"
        content="Eliminate pointless packaging using computer vision. Help end the poor packaging practices of companies, save the environment!" />
      {% if meta_img %}
      <meta property="twitter:image"    content="{% if debug %}http://{{request.get_host}}/media/{{ key.img_post.infer_img }}{% else %}{% static meta_img|urlize %}{% endif %}" />
      <meta property="og:image"         content="{% if debug %}http://{{request.get_host}}/media/{{ key.img_post.infer_img }}{% else %}{% static meta_img|urlize %}{% endif %}" />
      {% endif %}

      <title> {{ title }} | Pointless Packaging</title>

       <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

       <!-- Custom fonts for this template -->
      <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Basic&display=swap" rel="stylesheet">

       <!-- Bootstrap core JavaScript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

       <!--    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>-->
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>

       <!-- Plugin JavaScript -->
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" defer></script>

       <!-- DataTable - Bootstrap Optional Theme -->
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

       <!-- Custom styles for this template -->
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

       <!-- Custom scripts for this template -->
      <script src="{% static 'js/script.js' %}" defer></script>

       <!-- Google AdSense -->
       <script data-ad-client="ca-pub-9628514892696733" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Pointless Packaging</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
               data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="rate_page nav-link js-scroll-trigger" href="/rate">Rate My Package</a>
                    </li>
                    <li class="nav-item">
                      <a class="ranking_page nav-link js-scroll-trigger" href="/ranking">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="feed_page nav-link js-scroll-trigger" href="/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                      <a class="about_page nav-link js-scroll-trigger" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="feedback_page nav-link js-scroll-trigger" href="/feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- DJANGO BASE TEMPLATE TEMPORARILY ENDS HERE -->
    {% block content %}

    <!-- PAGE CONTENT GOES HERE -->

    {% endblock %}

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
          <div class="social justify-content-center py-2 ">
            <a class="about-link px-4" target="_blank" href="https://github.com/kennylee9672/ECS193A">
              <i class="fab fa-github fa-4x"></i>
            </a>
            <a class="about-link px-4" target="_blank" href="https://twitter.com">
              <i class="fab fa-twitter fa-4x"></i>
            </a>
            <a class="about-link px-4" target="_blank" href="https://instagram.com">
              <i class="fab fa-instagram fa-4x"></i>
            </a>
            <a class="about-link px-4" target="_blank" href="mailto: eppecs193@gmail.com">
              <i class="fa fa-envelope fa-4x"></i>
            </a>
          </div>
          <div class="py-4">
              Copyright &copy; Pointless Packaging 2020
          </div>
        </div>
    </footer>

    <input type="hidden" id="page_name" name="custId" value="{{page_name}}">
    <script>
      $(function () {$("."+ "{{ page_name }}" + "_page").addClass("active");});
    </script>
</body>
</html>
