{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="feedback" class="about-section bg-light">
   <div class="container">
      <h1 class="h3 mb-2 text-gray-800" style="text-align:center;">We appreciate your feeback!</h1>
      <div class="embed-responsive embed-responsive-16by9">
         <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfwsO7zz0v_6kszNAX4mOr_2jECHF1ZTd_IRHqauMLtsQrUTQ/viewform?embedded=true" width="640" height="440" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
   </div>
</section>
{% endblock content %}