{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="row">
        <div class="col-sm-8 text-center">
            <h1 class="head-shadow">
                Are you tired of wasteful packaging?
            </h1>
            <h2 class="head-shadow">
                Companies produce thousands of wasteful packaging and it badly hurts the environment.
            </h2>
            <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
            <a href="rate/" class="btn btn-primary js-scroll-trigger">We will rate it!</a>
        </div>
        <div class="col-sm-4 text-center">
            <h1 class="head-shadow">
                
            </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
            
        </div>
        </div>
        <section id="section01" class="demo">
            <a href="#welcome" class="js-scroll-trigger"><span></span>HOW IT WORKS?</a>
        </section>
    </div>
</header>

<!-- About Section -->
<section id="welcome" class="welcome-page text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <!-- THIS IS WHERE TABLES/CHARTS and OTHER WELCOME MESSAGES GO -->
                <!-- CREATE COLUMNS FOR EASY RESIZING -->
                <!-- USE rem INSTEAD OF px IN CSS AS MUCH AS POSSIBLE -->

            </div>
        </div>
    </div>
</section>

{% endblock content %}