{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="error_404" class="about-section bg-light">
    <div class="container" style="min-height:calc(75vh);">
        <div class = "row">
        <div class="col-md my-auto mx-auto">
            <h1 class = "align-items-center text-center" style="font-size: 12rem;"> 404 </h1>
            <h3 class = "align-items-center text-center">&nbsp;</h3>
            <h1 class="align-items-center text-center"> Uh oh,the page requested is not available.</h1>
            <h1 class="align-items-center text-center">:(</h1>
        </div>
        </div>

    </div>
</section>

{% endblock content %}