{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="about" class="about-section bg-light">
   <div class="container" style="min-height:calc(75vh);">
   <div class="alert alert-danger alert-dismissible collapse" role="alert">
      <p id="status"></p>
      <button type="button" class="close" onclick="$('.alert').hide()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div id="res_div" class = "row" style="display: none;height: 0px;">
      <h1 class="align-items-center text-center">&nbsp;</h1>
      <h2 class="align-items-center text-center text-black-70">Please wait...We are calculating...</h2>
      <img src="{% static 'css/images/loading.gif' %}" id="res_img" class="rounded mx-auto d-block" style="height: 300px;">
      <h2 class="align-items-center text-center text-black-70">Estimated time: ~20 seconds.</h2>
   </div>
   <form id="imageUploadForm" method="post" enctype="multipart/form-data">
      <a id = "whats_this_id" class="text-black-100 black-par" data-toggle="collapse" href="#whats_this" role="button" aria-expanded="false"
         aria-controls="whats_this">
         + How does it work?
      </a>
      <div id="whats_this" class="collapse">
         <div class="custom_card card-body">
            <p>
               Online retailers in particular are notorious for sending your items wrapped in wasteful packaging. How can we
               get them to stop? By <strong>pressuring</strong> them of course!
            </p>
            <p>
               But how can <strong>I</strong> help you ask? Grab ahold of any packaging you have received and follow the steps below.
            </p>
            <p>
               We will use state of the art computer vision and machine learning techniques to give a rating to your package.
            </p>
         </div>
         <h4 class="align-items-center text-center">&nbsp;</h4>
         <div class="row">
            <div class="col-sm">
               <div class="card mb-5" style="border-color:transparent">
                  <div class="card-body">
                     <h2 class="card-title">Step 1.</h2>
                     <p class="card-text">Take a picture from the TOP of your package.</p>
                  </div>
                  <img class="card-img-top" src="{% static 'img/sample_top.png' %}" height="250">
               </div>
            </div>
            <div class="col-sm">
               <div class="card mb-5" style="border-color:transparent">
                  <div class="card-body">
                     <h2 class="card-title">Step 2.</h2>
                     <p class="card-text">Take a picture of the LOGO or the company name on your package.</p>
                  </div>
                  <img class="card-img-top" src="{% static 'img/sample_side.png' %}" height="250">
               </div>
            </div>
            <div class="col-sm">
               <div class="card mb-5" style="border-color:transparent">
                  <div class="card-body">
                     <h2 class="card-title">Step 3.</h2>
                     <p class="card-text">Click submit and once you obtain the score, <strong>share it on social
                           media!</strong></p>
                  </div>
                  <img class="card-img-top" src="{% static 'img/fig.png' %}" height="250">
               </div>
            </div>
         </div>
      </div>
      {% csrf_token %}
      <div class="row text-center">
         <div class="col-12">
            <h4 class="display-8 mb-4">Start Here:</h4>
         </div>
         <hr>
         <p></p>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label id="top-dropzone" class="dropzone top-dropzone" style="background: gray; top left no-repeat; background-size:cover;">
               <div class="text-dropzone text-center align-middle">
                  <h2>TOP VIEW</h2>
                  <p>Add an image</p>
               </div>
               <input type="file" hidden id="top_img" required>
            </label>
         </div>
         <div class="col-md-6">
            <label id="side-dropzone" class="dropzone side-dropzone" style="background: gray; top left no-repeat; background-size:cover;">
               <div class="text-center align-middle">
                  <div class="text-dropzone text-align-center">
                     <h2>LOGO VIEW</h2>
                     <p>Add an image</p>
                  </div>
               </div>
               <input type="file" hidden id="side_img" required>
            </label>
         </div>
      </div>
      <div class="form-group">
         <label for="exampleInputEmail1">Your Email</label>
         <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp"
            placeholder="Enter your email address"  required>
         <small id="emailHelp" class="form-text text-muted">This cannot be empty.</small>
      </div>
      <div class="row">
         <div class="col justify-content-center">
            <input type="submit" id="btnSubmit" name="submit" value="Rate My Package!" class="btn btn-primary btn-lg">
         </div>
      </div>
   </form>
</section>
{% endblock content %}