{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="about" class="about-section bg-light">
    <div class="container">
    <form id="imageUploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm">
                <label id="top-dropzone" class="dropzone top-dropzone" style="background:linear-gradient(to bottom, rgba(22, 22, 22, 0.5) 0%, rgba(22, 22, 22, 0.8) 80%, #0000008a 100%), url({% static 'img/sample_top.jpg' %}) top left no-repeat;background-size:cover;">                    
                    <div class="text-dropzone text-center align-middle">
                        <h2>TOP VIEW</h2>
                        <p>(Click OR Drag and Drop)</p>
                    </div>
                    <input type="file" hidden id="top_img" required>
                </label>
            </div>
            <div class="col-sm">
                <label id="side-dropzone" class="dropzone side-dropzone" style="background:linear-gradient(to bottom, rgba(22, 22, 22, 0.5) 0%, rgba(22, 22, 22, 0.8) 80%, #0000008a 100%), url({% static 'img/sample_side.jpg' %}) top left no-repeat;background-size:cover;">
                    <div class="text-center align-middle">
                        <div class="text-dropzone text-align-center">
                            <h2>LOGO VIEW</h2>
                            <p>(Click OR Drag and Drop)</p>
                        </div>
                    </div>
                    <input type="file" hidden id="side_img" required>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Your Email</label>
            <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp"
                placeholder="Enter your email address"  required>
            <small id="emailHelp" class="form-text text-muted">This cannot be empty.</small>
        </div>

        <div class="row">
            <div class="col justify-content-center">
                <input type="submit" id="btnSubmit" name="submit" value="Rate My Package!" class="btn btn-primary btn-lg">
            </div>
        </div>
    </form>
    <h2 class="align-items-center text-center">&nbsp;</h2>
    <p id="status"></p>
    <img src="" id="res_img" class="rounded mx-auto d-block" style="max-height:300px;">
    <div id="post_infer" style="display: none;" align="center">
        <h3>Score: <span id="score"></span></h3>
        <p>Outerbox: <span id="outer_size"></span></p>
        <p>Innerbox: <span id="inner_size"></span></p>
        <p>Item: <span id="item_size"></span></p>
        <p>Time elapsed: <span id="time_elapsed"></span> seconds</p>
    </div>
    </div>

    </div>
</section>

{% endblock content %}