{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="about" class="about-section bg-light">
   <div class="container">
   <!-- Content Row -->
   <div class="row">
      <!-- Top Chart -->
      <div class='col-sm-6'>
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Top Companies Rank</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <div class="chart-pie pt-4">
                  <canvas id="myChart5"></canvas>
               </div>
               <hr>
               Chart descriptions.
            </div>
         </div>
      </div>

      <!-- Worst Chart -->
      <div class='col-sm-6'>
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Worst Companies Rank</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <div class="chart-pie pt-4">
                  <canvas id="myChart6"></canvas>
               </div>
               <hr>
               Chart descriptions.
            </div>
         </div>
      </div>
   </div>
   </div>
</section>

{% endblock content %}
