.d-block {
	height: 525px;
	object-fit: cover;
}

.dropzone {
	width: 505px;
	height: 400px;
	border: 2px dashed #ccc;
	color: #ccc;
	padding: 150px;
}

.dropzone.dragover {
	border-color: #000;
	color: #000;
}

.dztext {
	color: #ccc;
	height: 50%;
	position: relative;
	vertical-align: center;
}

.footer {
	padding: 2.5rem 0;
	color: #808080;
	text-align: left;
	background-color: 808080;
	border-top: .05rem solid #e5e5e5;
	color: black;

}

.para {
	font-size: 16pt;
}

.video-cont {
	width: 65%;
}
